@model List<DiningModel>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Restaurants</title>
    <script type="text/javascript" src="DineWithUsPage.js"></script>
    <link rel="stylesheet" type="text/css" href="DineWithUsPage.css">
</head>

<body>
    <ul class="menubar">
        <div class="dropdown">
            <img class="dropicon" src="./images/burger.png">
            <div class="dropdowncontent">
                <a href="/AboutPage">ABOUT US</a>
                <a href="/StayWithUsPage">SUITES</a>
                <a href="/EntryPage">EXPERIENCE</a>
            </div>
        </div>
        <div class="menuitems">
            <a href="/StayWithUsPage" class="links">STAY WITH US</a>
            <a href="/DineWithUsPage" class="links"> | DINE WITH US</a>
            <a href="/OffersPage" class="links"> | OFFERS</a>
            <a href="/ReachUsPage" class="links"> | REACH US</a>
        </div>
    </ul>
    <div class="layer">
        <a href="/landingPage"><img class="logo" src="./images/finesttokyologo.png"></a>
        <div class="innerlayer">
            <p class="innerlayer1">GOURMET DINING, HEARTY MEALS AND <br>THE BEST JAPANESE HOSPITALITY.</p>
            <p class="innerlayer2">Savour the flavours of Asian cuisine in our fine dining 1887 restaurant.
                Enjoy a dram or two in the Sake Bar, stocked with 365 sake and 120 gins, including
                our own Finest Tokyo Sake. If you favour ales take a seat in The Hell's Kitchen Bar, popular with non-residents
                and Finest Tokyo guests alike.</p>
        </div>
    </div>

    <div class="layer2">
        <div class="slideshow">
            <div class="mySlides fade">
                <img src="images/japan12.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
                <img src="images/japan18.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
                <img src="images/japan16.jpg" style="width:100%">
            </div>
        </div>
        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>

        <p class="dining">DINING</p>
        <p class="dining2">Just like the restaurants in Japan with a food culture that celebrates a glorious blend of flavours coming
            together, the dining outlets in Finest Tokyo Hotel conjure generous portions of delectable fare that will
            tempt the most discerning palates and satisfy the unique tastes of every guest. Savour a burst of unique
            flavours from the fusion offerings of Western cuisine and Asian dishes when you dine with us.</p>
    </div>

    <div class=offers>
        @foreach(var dine in Model){
        <div class="offers1">
            <div class="imgoverlay">
                <img src="@dine.ImagePath">
                <div class="txtoverlay">
                    <a href="/DiningReservationFormPage"><div class="text">BOOK NOW!</div></a>
                </div>
            </div>
            <p class="off"><b>@dine.DiningName</b></p>
            <p class="off1">@dine.About</p>
        </div>
        }
    </div>

    <p class="salestalk">COME DINE WITH US! BOOK YOUR RESERVATION NOW</p>

    <div class="footer">
        <img src="./images/finesttokyologo.png">
        <div class="address">
            221B Tsukiji, Chuo-ku, Tokyo, Japan
            TEL: +81-(3)-4538
        </div>
        <div class="certification">
            Finest Tokyo Hotel LTD Registered in Japan No. 232028 VAT Registration 956 1568 30 © 2021 Finest Tokyo
            Hotel.
        </div>
        <img class="icons" src="./images/icons.jpg">
    </div>

</body>

</html>