<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="EntryPage.css">
    <title>Finest Tokyo Hotel</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="texts">
                <a class="text" href="/LandingPage"><h1>FINEST</h1></a>
                <a class="text1" href="/LandingPage"><h1>TOKYO</h1></a>
                <a class="text2" href="/LandingPage"><h1>HOTEL</h1></a>
            </div>
        </div>
    </div>
</body>
</html>